@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-primary: var(--color-zinc-800);
  --color-secondary: var(--color-zinc-200);
  --color-info: var(--color-blue-400);
  --color-success: var(--color-green-600);
  --color-warning: var(--color-orange-500);
  --color-error: var(--color-red-600);

  --color-primary-highlight: var(--color-zinc-700);
  --color-secondary-highlight: var(--color-zinc-100);
  --color-info-highlight: var(--color-blue-300);
  --color-success-highlight: var(--color-green-500);
  --color-warning-highlight: var(--color-orange-400);
  --color-error-highlight: var(--color-red-500);

  --color-primary-darkened: var(--color-zinc-900);

  --color-disabled: var(--color-zinc-100);
  --color-disabled-highlight: var(--color-zinc-300);

  --fade-in-transition: width, opacity;
}

.dark {
  color: white;

  --color-primary: var(--color-zinc-950);
  --color-secondary: var(--color-zinc-700);
  --color-info: var(--color-blue-500);
  --color-success: var(--color-green-500);
  --color-warning: var(--color-orange-500);
  --color-error: var(--color-red-500);

  --color-primary-highlight: var(--color-zinc-800);
  --color-secondary-highlight: var(--color-zinc-400);
  --color-info-highlight: var(--color-blue-300);
  --color-success-highlight: var(--color-green-400);
  --color-warning-highlight: var(--color-orange-300);
  --color-error-highlight: var(--color-red-400);

  --color-primary-darkened: var(--color-black);

  --color-disabled: var(--color-zinc-700);
  --color-disabled-highlight: var(--color-zinc-600);
}
