services:
  dragonflydb:
    image: "docker.dragonflydb.io/dragonflydb/dragonfly"
    restart: unless-stopped
    ulimits:
      memlock: -1
    ports:
      - "6379:6379"
    volumes:
      - dragonfly_data:/data
    environment:
      - DFLY_requirepass=${DFLY_PASSWORD}
  postgres:
    image: postgres:18
    container_name: filestore-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 30s
      timeout: 30s
      retries: 10
      start_period: 30s
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - internal

volumes:
  postgres_data:
  dragonfly_data:

networks:
  internal:
    driver: bridge
